@use '../base/index' as *

/* Фон цена, заголовок, кнопка у карточек */
.card
	width: 23rem
	transition: 0.5s all
	border-radius: 0.8rem
	border: none
	color: $defaultColor
	background: $defaultBg
	[alt]
		padding: 10px
		text-shadow: 2px 2px 2px $defaultShadow
		color: $defaultColor
	&:hover
		transition: 0.5s all
		transform: scale(1.05)
		box-shadow: 0 0 2px 5px $defaultShadow
	&-races
		position: relative
		background: $racesBg
	&-horde
		background: $hordeBg
		[alt]
			color: $hordeColor
		&:hover
			box-shadow: 0 0 2px 5px $hordeCardHoverShadow
	&-alliance
		background: $allianceBg
		[alt]
			color: $allianceColor
		&:hover
			box-shadow: 0 0 2px 5px $allianceCardHoverShadow
	&-warrior
		color: $warriorColor
		background: $warriorBg
		[alt]
			color: $warriorColor
		&:hover
			box-shadow: 0 0 2px 5px $warriorShadow
	&-druid
		color: $druidColor
		background: $druidBg
		[alt]
			color: $druidColor
		&:hover
			box-shadow: 0 0 2px 5px $druidShadow
	&-priest
		color: $priestColor
		background: $priestBg
		[alt]
			color: $priestColor
		&:hover
			box-shadow: 0 0 2px 5px $priestShadow
	&-mage
		color: $mageColor
		background: $mageBg
		[alt]
			color: $mageColor
		&:hover
			box-shadow: 0 0 2px 5px $mageShadow
	&-monk
		color: $monkColor
		background: $monkBg
		[alt]
			color: $monkColor
		&:hover
			box-shadow: 0 0 2px 5px $monkShadow
	&-hunter
		color: $hunterColor
		background: $hunterBg
		[alt]
			color: $hunterColor
		&:hover
			box-shadow: 0 0 2px 5px $hunterShadow
	&-demon-hunter
		color: $demonHunterColor
		background: $demonHunterBg
		[alt]
			color: $demonHunterColor
		&:hover
			box-shadow: 0 0 2px 5px $demonHunterShadow
	&-paladin
		color: $paladinColor
		background: $paladinBg
		[alt]
			color: $paladinColor
		&:hover
			box-shadow: 0 0 2px 5px $paladinShadow
	&-awakener
		color: $awakenerColor
		background: $awakenerBg
		[alt]
			color: $awakenerColor
		&:hover
			box-shadow: 0 0 2px 5px $awakenerShadow
	&-rogue
		color: $rogueColor
		background: $rogueBg
		[alt]
			color: $rogueColor
		&:hover
			box-shadow: 0 0 2px 5px $rogueShadow
	&-death-knight
		color: $deathKnightColor
		background: $deathKnightBg
		[alt]
			color: $deathKnightColor
		&:hover
			box-shadow: 0 0 2px 5px $deathKnightShadow
	&-warlock
		color: $warlockColor
		background: $warlockBg
		[alt]
			color: $warlockColor
		&:hover
			box-shadow: 0 0 2px 5px $warlockShadow
	&-shaman
		color: $shamanColor
		background: $shamanBg
		[alt]
			color: $shamanColor
		&:hover
			box-shadow: 0 0 2px 5px $shamanShadow
	&-weapons
		background: $defaultBg
		&-legendary
			background: $weaponsLegendaryBg
			[alt]
				color: $weaponsLegendaryColor
			&:hover
				box-shadow: 0 0 2px 5px $weaponsLegendaryCardHoverShadow
		&-artifact
			background: $weaponsArtifactBg
			color: $weaponsArtifactColor
			[alt]
				color: $weaponsArtifactColor
			&:hover
				box-shadow: 0 0 2px 5px $weaponsArtifactShadow
		&-decorative
			background: $weaponsDecorativeBg
			&:hover
				box-shadow: 0 0 2px 5px $weaponsDecorativeCardHoverShadow
	&-armours
		background: $defaultBg
		[alt]
			color: $armoursColor
		&-legendary
			background: $armoursLegendaryBg
			&:hover
				box-shadow: 0 0 2px 5px $armoursLegendaryCardHoverShadow
		&-artifact
			background: $armoursArtifactBg
			&:hover
				box-shadow: 0 0 2px 5px $armoursArtifactCardHoverShadow
	&-mounts
		&-water
			background: $waterMountsBg
			[alt]
				color: $waterMountsColor
			&:hover
				box-shadow: 0 0 2px 5px $waterMountsCardHoverShadow
		&-earth
			background: $earthMountsBg
			[alt]
				color: $earthMountsColor
			&:hover
				box-shadow: 0 0 2px 5px $earthMountsCardHoverShadow
		&-fly
			background: $flyMountsBg
			[alt]
				color: $flyMountsColor
			&:hover
				box-shadow: 0 0 2px 5px $flyMountsCardHoverShadow
	&-professions
		background: $defaultBg
	&-pvp
		background: $pvpBg
		&:hover
			box-shadow: 0 0 2px 5px $pvpCardHoverShadow
	&-mythic
		background: $mythicDungeonsBg
		&:hover
			box-shadow: 0 0 2px 5px $mythicDungeonsCardHoverShadow
	&-raids
		&-classic
			background: $classicRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $classicRaidsCardHoverShadow
		&-burning-crusade
			background: $burningCrusadeRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $burningCrusadeRaidsCardHoverShadow
		&-wrath-of-the-lich-king
			background: $wrathOfTheLichKingRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $wrathOfTheLichKingRaidsCardHoverShadow
		&-cataclysm
			background: $cataclysmRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $cataclysmRaidsCardHoverShadow
		&-mists-of-pandaria
			background: $mistsOfPandariaRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $mistsOfPandariaRaidsCardHoverShadow
		&-warlords-of-draenor
			background: $warlordsOfDraenorRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $warlordsOfDraenorRaidsCardHoverShadow
		&-legion
			background: $legionRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $legionRaidsCardHoverShadow
		&-battle-for-azeroth
			background: $battleForAzerothRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $battleForAzerothRaidsCardHoverShadow
		&-shadowlands
			background: $shadowlandsRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $shadowlandsRaidsCardHoverShadow
		&-dragonflight
			background: $dragonflightRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $dragonflightRaidsCardHoverShadow
		&-war-within
			background: $warWithinRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $warWithinRaidsCardHoverShadow
		&-midnight
			background: $midnightRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $midnightRaidsCardHoverShadow
		&-last-titan
			background: $lastTitanRaidsBg
			&:hover
				box-shadow: 0 0 2px 5px $lastTitanRaidsCardHoverShadow
	&-lvl-up
		background: $lvlUpBg
		&:hover
			box-shadow: 0 0 2px 5px $lvlUpCardHoverShadow
	&-achievements
		background: $achievementsBg
		[alt]
			color: $achievementsColor
		&:hover
			box-shadow: 0 0 2px 5px $achievementsCardHoverShadow
	&-buy
		width: 100%
		&:hover
			transform: scale(1)
	@media (max-width: 991.98px)
		width: 30rem
.card-box
	column-gap: 1.4rem
	row-gap: 2rem

.card-img
	width: 100%
	height: 450px
	transition: 0.5s all
	filter: drop-shadow(0 0 2px $defaultShadow)
	&:hover
		transition: 0.5s all
		transform: scale(1.05)
	&-object-fit
		object-fit: contain
	&-tiers
		border-radius: 0.8rem
	&-mythic, &-lvl-up, &-achievements
		border-radius: 50%
		transition: 0.5s all
		&:hover
			transform: scale(1)
			border-radius: 0
.card-link
	display: inline-block
.card-title
	font-weight: 900
	font-style: italic
	line-height: 1
	min-height: 160px
	text-shadow: 2px 2px 2px $defaultShadow
	font-size: 32px
	transition: 0.5s all
	filter: drop-shadow(0 0 2px $defaultShadow)
	@media ( max-width:  991.98px)
		min-height: auto
	&:hover
		transition: 0.5s all
		transform: scale(1.1)
	&-races
		background: $racesColor
		background-clip: text
		color: transparent
	&-horde
		color: $hordeColor
	&-alliance
		color: $allianceColor
	&-weapons
		color: $weaponsColor
		&-legendary
			color: $weaponsLegendaryColor
		&-decorative
			color: $weaponsDecorativeColor
	&-armours
		color: $armoursColor
		&-legendary
			color: $armoursLegendaryColor
		&-artifact
			color: $armoursArtifactColor
	&-mounts
		&-water
			color: $waterMountsColor
		&-earth
			color: $earthMountsColor
		&-fly
			color: $flyMountsColor
	&-pvp
		color: $pvpColor
	&-raids
		color: $defaultColor
		&-classic
			color: $classicRaidsColor
		&-burning-crusade
			color: $burningCrusadeRaidsColor
		&-wrath-of-the-lich-king
			color: $wrathOfTheLichKingRaidsColor
		&-cataclysm
			color: $cataclysmRaidsColor
		&-mists-of-pandaria
			color: $mistsOfPandariaRaidsColor
		&-warlords-of-draenor
			color: $warlordsOfDraenorRaidsColor
		&-legion
			color: $legionRaidsColor
		&-battle-for-azeroth
			color: $battleForAzerothRaidsColor
		&-shadowlands
			color: $shadowlandsRaidsColor
		&-dragonflight
			color: $dragonflightRaidsColor
		&-war-within
			color: $warWithinRaidsColor
		&-midnight
			color: $midnightRaidsColor
		&-last-titan
			color: $lastTitanRaidsColor
	&-lvl-up
		color: $lvlUpColor
	&-achievements
		color: $achievementsColor
	&-buy
		color: $mainColor
		min-height: 0
		margin-bottom: 0
		&:hover
			transform: scale(1)
			cursor: $cursorAction
.card-text
	font-weight: 900
	font-style: italic
	font-size: 20px
	transition: 0.5s all
	text-shadow: 2px 2px 2px $defaultShadow
	filter: drop-shadow(0 0 2px $defaultShadow)
	&:hover
		transform: scale(1.05)
		transition: 0.5s all
	&-races
		background: $racesColor
		background-clip: text
		color: transparent
	&-horde
		color: $hordeColor
	&-alliance
		color: $allianceColor
	&-weapons
		color: $weaponsColor
		&-legendary
			color: $weaponsLegendaryColor
		&-decorative
			color: $weaponsDecorativeColor
	&-armours
		color: $armoursColor
		&-legendary
			color: $armoursLegendaryColor
		&-artifact
			color: $armoursArtifactColor
	&-mounts
		&-water
			color: $waterMountsColor
		&-earth
			color: $earthMountsColor
		&-fly
			color: $flyMountsColor
	&-pvp
		color: $pvpColor
	&-raids
		color: $defaultColor
		&-classic
			color: $classicRaidsTextColor
			&_color
				color: $classicRaidsColor
		&-burning-crusade
			color: $burningCrusadeRaidsTextColor
			&_color
				color: $burningCrusadeRaidsColor
		&-wrath-of-the-lich-king
			color: $wrathOfTheLichKingRaidsTextColor
			&_color
				color: $wrathOfTheLichKingRaidsColor
		&-cataclysm
			color: $cataclysmRaidsTextColor
			&_color
				color: $cataclysmRaidsColor
		&-mists-of-pandaria
			color: $mistsOfPandariaRaidsTextColor
			&_color
				color: $mistsOfPandariaRaidsColor
		&-warlords-of-draenor
			color: $warlordsOfDraenorRaidsTextColor
			&_color
				color: $warlordsOfDraenorRaidsColor
		&-legion
			color: $legionRaidsTextColor
			&_color
				color: $legionRaidsColor
		&-battle-for-azeroth
			color: $battleForAzerothRaidsTextColor
			&_color
				color: $battleForAzerothRaidsColor
		&-shadowlands
			color: $shadowlandsRaidsTextColor
			&_color
				color: $shadowlandsRaidsColor
		&-dragonflight
			color: $dragonflightRaidsTextColor
			&_color
				color: $dragonflightRaidsColor
		&-war-within
			color: $warWithinRaidsTextColor
			&_color
				color: $warWithinRaidsColor
		&-midnight
			color: $midnightRaidsTextColor
			&_color
				color: $midnightRaidsColor
		&-last-titan
			color: $lastTitanRaidsTextColor
			&_color
				color: $lastTitanRaidsColor
	&-lvl-up
		color: $lvlUpColor
	&-achievements
		color: $achievementsColor
	&-buy
		&:hover
			transform: scale(1)
.card-footer
	margin-bottom: 1rem
	border: none
	background: transparent
.card-price
	font-weight: 700
	font-size: 28px
	transition: 0.5s all
	text-shadow: 2px 2px 2px $defaultShadow
	filter: drop-shadow(2px 2px 2px $defaultShadow)
	cursor: $cursorText
	[alt]
		padding: 0
	&:hover
		transition: 0.5s all
		transform: scale(1.1)
	&-races
		background: $racesColor
		background-clip: text
		color: transparent
	&-horde
		color: $hordeColor
	&-alliance
		color: $allianceColor
	&-weapons
		color: $weaponsColor
		&-legendary
			color: $weaponsLegendaryColor
		&-decorative
			color: $weaponsDecorativeColor
	&-armours
		color: $armoursColor
		&-legendary
			color: $armoursLegendaryColor
		&-artifact
			color: $armoursArtifactColor
	&-mounts-water
		color: $waterMountsColor
	&-mounts-earth
		color: $earthMountsColor
	&-mounts-fly
		color: $flyMountsColor
	&-pvp
		color: $pvpColor
	&-raids
		&-classic
			color: $classicRaidsColor
		&-burning-crusade
			color: $burningCrusadeRaidsColor
		&-wrath-of-the-lich-king
			color: $wrathOfTheLichKingRaidsColor
		&-cataclysm
			color: $cataclysmRaidsColor
		&-mists-of-pandaria
			color: $mistsOfPandariaRaidsColor
		&-warlords-of-draenor
			color: $warlordsOfDraenorRaidsColor
		&-legion
			color: $legionRaidsColor
		&-battle-for-azeroth
			color: $battleForAzerothRaidsColor
		&-shadowlands
			color: $shadowlandsRaidsColor
		&-dragonflight
			color: $dragonflightRaidsColor
		&-war-within
			color: $warWithinRaidsColor
		&-midnight
			color: $midnightRaidsColor
		&-last-titan
			color: $lastTitanRaidsColor
	&-lvl-up
		color: $lvlUpColor
	&-achievements
		color: $achievementsColor
.card-btn
	padding: 8px
	border-radius: 5px
	text-shadow: 2px 2px 2px $defaultShadow
	font-weight: 700
	transition: 0.5s all
	border: 1px solid $defaultBorder
	box-shadow: 5px 5px 10px $defaultShadow
	background: $defaultBtnBg
	color: $defaultBtn
	filter: drop-shadow(0 0 2px $defaultShadow)
	&:hover
		transition: 0.5s all
		transform: scale(1.1)
		color: $defaultBtn
	&-buy
		width: 10%
// Картинка золота в цене
.gold, .dollar
	margin-left: 10px
	width: 36px
	height: 36px